# Data Science Tools and Ecosystem

In this notebook, Data Science Tools And Ecosystem are summarized.

**Objectives**
- List common uses Libraries used by Data Scientists
- List of Data Science Tools
- How to Write Arithmetic expression in Python

Some of the popular languages that Data Scientists use are :
1. Python
2. R
3. SQL

Some of the commonly uses libraries used by data Scientists include:
1. Pandas
2. Matplotlib
3. Numpy

|Data Science Tools|
|---|
|SAAS|
|Apache Hadoop|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author
name